{% extends 'layout/base.html.twig' %}

{% block slider%} 
    {% for module in page.collection() if module.template == 'modular/slider'  %}
        {{ module.content }}
    {% endfor %}
{% endblock %}

{% block body %}
    <section id="content">
 
        {% for module in page.collection() if module.template != 'modular/slider'   %}
            {{ module.content|raw }}
        
        {% endfor %}
            
    </section>
{% endblock %}