@import 'variables';

#logo img {
	padding: 15px;
}

#side-panel-trigger{
	right: 40px;
	padding: 10px;
}


h2
{
	margin: 0 0 10px 0;
}

.title-background .breadcrumb-item.current{
	color: #fff;
	&::before{
		color: #fff;
	}
}

/* Portfolio & Blog Single - Masonry
-----------------------------------------------------------------*/

.masonry-thumbs { position: relative; }

.masonry-thumbs a {
	position: relative;
	float: left;
	width: 25%;
	max-width: 100% !important;
	overflow: hidden;
}

.masonry-thumbs.grid-2 a { width: 50%; }

.masonry-thumbs.grid-3 a { width: 33.30%; }

.masonry-thumbs.grid-4 a { width: 25%; }

.masonry-thumbs.grid-5 a { width: 20%; }

.masonry-thumbs.grid-6 a { width: 16.60%; }

.masonry-thumbs a,
.masonry-thumbs img {
	display: block;
	height: auto !important;
}

.masonry-thumbs img {
	width: 100%;
	border-radius: 0 !important;
	padding: 0 1px 1px 0;
}

.masonry-thumbs .overlay { padding: 0 1px 1px 0; }
