#content {
  position: relative;
  overflow: hidden;
  background-color: #FFF; }
  #content p {
    line-height: 1.8; }
  #content .content-wrap {
    position: relative;
    padding: 80px 0; }
  #content .container {
    position: relative; }

.grid-container {
  position: relative;
  overflow: hidden; }

body:not(.device-touch) .grid-container {
  -webkit-transition: height 0.4s linear;
  -o-transition: height 0.4s linear;
  transition: height 0.4s linear; }
