<div class="entry clearfix">
 
    <div class="entry-image" style="width:100%">
        <a href="{{page.header.settings.to_link}}" class="entry-link" target="_blank">
            {{ page.title }}
            <span>{{page.header.settings.to_link_title}}</span>
        </a>
    </div>
</div>
